/.vscode
MSYS2 MinGW 64-bit.lnk
*.s
/debug/ghidra_project
/debug/parse_statefile.drawio
/bin/Iori_Yagami
/bin/chars/OrochiBest
/bin/chars/H-SaikiXIII
/bin/MugenExtended.exe.bak
token.txt
files.txt
notes.txt
Test this section of the get_token algorithm.txt
get_token algorithm.txt
/bin/chars/problem_chars
/bin/chars/working_chars